.App {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

li {
    list-style-type: none;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-skeleton.ant-skeleton-element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}